.date-picker-under-table-container {
    margin-top: 50px;
    max-width: 250px;
    display: flex;

    button {
        margin-left: 30px;
    }
}

.three-table-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.group-selectors {
    max-width: 400px;
}