.view-title {
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 18px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-family: 'RobotoCondensedLight';
    font-size: 36px;

    & + .view-description {
        margin-top: -30px;
    }

    @media screen and (max-width: 500px) {
        font-size: 30px;
        
        &:first-of-type {
            margin-top: 0px;
        }
    }
}