.icon-button {
    width: 41px;
    height: 30px;
    border-radius: 3px;
    color: white;
    transition: .1s all;
    margin: 10px 0;
    position: relative;

    .loader {
        width: 18px;
        height: 18px;
    }
    &.loading, &.disabled {
        user-select: none;
        pointer-events: none;
    }
    
    &.blue {
        background-color: rgb(3, 169, 244);
        &:hover {
            background-color: rgb(3, 152, 220);
        }
    }
    &.red {
        background-color: rgb(244, 67, 54);
        &:hover {
            background-color: rgb(220, 60, 49);
        }
    }
    &.orange {
        background-color: orange;
        &:hover {
            background-color: rgb(243, 190, 91);
        }
    }
    &.green {
        background-color: #00e676;
        &:hover {
            background-color: #00c853
        }
    }
    &.icon-button.purple {
        background-color: #3f51b5;
        &:hover {
            background-color: #3949ab;
        }
    }
    
    &.disabled {
        background-color: #bdbdbd;
        &:hover {
            background-color: #bdbdbd;
        }
    }
}